<?xml version="1.0"?>
<robot name="hx2_d1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />

  <xacro:include filename="$(find robotis_hand_description)/urdf/hx2_d1/hx2_d1.urdf.xacro" />

  <xacro:include filename="$(find robotis_hand_description)/gazebo/hx2_d1/hx2_d1.gazebo.xacro" />

  <xacro:include filename="$(find robotis_hand_description)/ros2_control/hx2_d1/hx2_d1.ros2_control.xacro" />

  <link name="world"/>

  <joint name="$(arg prefix)world_fixed" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)hx2_d1_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:hx2_d1 prefix="$(arg prefix)" />
  <xacro:hx2_d1_gazebo prefix="$(arg prefix)" />

  <xacro:hx2_d1_system
    name="hx2_d1_system" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"/>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find robotis_hand_bringup)/config/hx2_d1/hx2_d1_hardware_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
